@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "@heroui/styles"; 

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(58.00% 0.2200 293.00);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0000 293.00);
  --border: oklch(90.00% 0.0000 293.00);
  --danger: oklch(65.32% 0.2328 30.44);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0000 293.00);
  --default-foreground: oklch(21.03% 0.0059 293.00);
  --field-background: oklch(100.00% 0.0000 293.00);
  --field-foreground: oklch(21.03% 0.0000 293.00);
  --field-placeholder: oklch(55.17% 0.0000 293.00);
  --focus: oklch(58.00% 0.2200 293.00);
  --foreground: oklch(21.03% 0.0000 293.00);
  --muted: oklch(55.17% 0.0000 293.00);
  --overlay: oklch(100.00% 0.0000 293.00);
  --overlay-foreground: oklch(21.03% 0.0000 293.00);
  --scrollbar: oklch(87.10% 0.0000 293.00);
  --segment: oklch(100.00% 0.0000 293.00);
  --segment-foreground: oklch(21.03% 0.0000 293.00);
  --separator: oklch(92.00% 0.0000 293.00);
  --success: oklch(73.29% 0.1935 155.51);
  --success-foreground: oklch(21.03% 0.0059 155.51);
  --surface: oklch(100.00% 0.0000 293.00);
  --surface-foreground: oklch(21.03% 0.0000 293.00);
  --surface-secondary: oklch(95.24% 0.0000 293.00);
  --surface-secondary-foreground: oklch(21.03% 0.0000 293.00);
  --surface-tertiary: oklch(93.73% 0.0000 293.00);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 293.00);
  --warning: oklch(78.19% 0.1585 77.03);
  --warning-foreground: oklch(21.03% 0.0059 77.03);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Figtree font in your app */
  --font-sans: var(--font-figtree);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(58.00% 0.2200 293.00);
  --accent-foreground: oklch(99.11% 0 0);
  /* --background: oklch(12.00% 0.007 293.00); */
  --background: oklch(18.673% 0.00613 91.67);
  --border: oklch(28.00% 0.0000 293.00);
  --danger: oklch(59.40% 0.1967 29.33);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 293.00);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 293.00);
  --field-foreground: oklch(99.11% 0.0000 293.00);
  --field-placeholder: oklch(70.50% 0.0000 293.00);
  --focus: oklch(58.00% 0.2200 293.00);
  --foreground: oklch(99.11% 0.0000 293.00);
  --muted: oklch(70.50% 0.0000 293.00);
  --overlay: oklch(21.03% 0.007 293.00);
  --overlay-foreground: oklch(99.11% 0.0000 293.00);
  --scrollbar: oklch(70.50% 0.0000 293.00);
  --segment: oklch(39.64% 0.0000 293.00);
  --segment-foreground: oklch(99.11% 0.0000 293.00);
  --separator: oklch(25.00% 0.0000 293.00);
  --success: oklch(73.29% 0.1935 155.51);
  --success-foreground: oklch(21.03% 0.0059 155.51);
  --surface: oklch(21.03% 0.007 293.00);
  --surface-foreground: oklch(99.11% 0.0000 293.00);
  --surface-secondary: oklch(25.70% 0.007 293.00);
  --surface-secondary-foreground: oklch(99.11% 0.0000 293.00);
  --surface-tertiary: oklch(27.21% 0.007 293.00);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 293.00);
  --warning: oklch(82.03% 0.1388 81.04);
  --warning-foreground: oklch(21.03% 0.0059 81.04);
}